body {
    text-align: center;
    font-family: Helvetica, sans-serif
}

#header {
    background-color: rgba(50, 50, 192, 0.918);
    margin: auto;
    padding: 5.5%;
    border-bottom: 2px solid darkblue;
}

#header h1 {
    font-size: 5rem
}

.body-top {
    background-color: deepskyblue;
}

#body h1 {
    font-size: 3rem;
}

#body li {
    font-size: 2rem;
}

ul {
    list-style-type: none;
    margin-bottom: 0;
}

.body-footer {
    background-color: mediumturquoise;
}

.body-body {
    border-bottom: 2px solid darkblue;
}

.footer {
    background-color: steelblue;
}

.footer-footer {
    background-color: mediumspringgreen
}

hr {
    margin: 0;
    color: navy;
}

p {
    font-size: 2rem;
    margin-bottom: 0;
}

button {
    margin-top: 3%;
    margin-bottom: 3%;
}

input {
    background-color: rgba(50, 50, 192, 0.918);
    border-radius: 5px;
}

#header a {
    font-size: 3rem;
    color: yellowgreen;
}

a:hover {
    color: olivedrab;
}

.what-have {
    border: 2px solid navy;
}

img {
    width: 200px;
}

.more {
    margin-bottom: 0;
    font-size: 3rem;
}